.popup__container {
    align-self: center;
    justify-self: center;
    position: relative;
    width: 430px;
    max-height: 330px;
    border-radius: 10px;
    background-color: white;
}

@media screen and (max-width: 641px) {
    .popup__container {
        max-width: 282px;
    }
}
