.popup__container {
    align-self: center;
    justify-self: center;
    position: relative;
    width: 430px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 641px) {
    .popup__container {
        max-width: 282px;
    }
}
