.profile__add-button {
    background-image: url(../../../images/add-button.svg);
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 2px;
    background-color: black;
    height: 50px;
    width: 150px;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-position: 50%;
    transition: opacity .4s;
    cursor: pointer;
}

.profile__add-button:hover {
    opacity: .6;
} 

@media screen and (max-width:641px) {
    .profile__add-button {
        width: 282px;
    }
}
