.element__like-button {
    background-image: url(../../../images/like-button.svg);
    width: 22px;
    height: 19px;
    margin: 0;
    padding: 0;
    background-size: cover;
    align-self: center;
    border: none;
    background-color: transparent;
    transition: opacity .4s;
    cursor: pointer;
}

.element__like-button:hover {
    opacity: .5;
}