.profile__info {
    display: flex;
    gap: 16px 18px;
    max-width: calc(100% - 300px);
    flex-wrap: wrap;
    margin-right: auto;
    align-content: flex-start;
} 

@media screen and (max-width:641px) {
    .profile__info {
        justify-content: center;
        max-width: 282px;
        margin: 0;
    }
}

