.element {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    margin: 0 auto;
    width: 282px;
} 

@media screen and (max-width: 881px) {
    .element {
        width: 245px;
    }
}

@media screen and (max-width: 776px) {
    .element {
        width: 282px;
    }
}



